<h2 class="my-4 display-2 text-center">Stores</h2>
<div class="container-fluid">
    <div class="row">
        <% @stores.each do |store| %>
            <div class='col-12'>
                <div class='card mb-5'>
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary"><%= store.title %> Orders</h6>
                    </div>
                    <div class='card-body'>
                        <table class="table table-bordered mt-4 xs-datatable">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Products</th>
                                <th>Price</th>
                                <th>Fund Raised</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% store.orders.each do |order| %>
                            <tr>
                                <td><%= order.title %></td>
                                <td><%= order.get_qty %></td>
                                <td><%= formatMoney(order.price) %></td>
                                <td><%= formatMoney(order.fundraised) %></td>
                                <td>
                                    <a href="<%= "https://#{@current_shopify_session.shop}/admin/orders/#{order.shopify_id}" %>" class="btn btn-primary" target="_blank">View Details</a>
                                </td>
                            </tr>
                            <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        <% end %>
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-end">
              <% if @stores.previous_page %>
              <li class="page-item">
                  <%= link_to 'Previous', url_for(p: @stores.previous_page), class: "page-link" %>
              </li>
              <% end %>

              <% @stores.total_pages.times do |i| %>
              <% page = i + 1 %>
              <li class="page-item <%= 'active' if page == @stores.current_page %>">
                  <%= link_to page, url_for(p: page), class: "page-link" %>
              </li>
              <% end %>

              <% if @stores.next_page %>
              <li class="page-item">
                  <%= link_to 'Next', url_for(p: @stores.next_page), class: "page-link" %>
              </li>
              <% end %>
          </ul>
        </nav>

    </div>
</div>