<h2 class="my-4 display-2 text-center">Team Admins</h2>
<div class="container">
  <div class='card'>
    <div class='card-body'>
      <div class="lead">Day of the month: <%= Date.today.day %> / <%= Time.days_in_month Date.today.month %></div>
      <table class="table table-bordered mt-4 xs-datatable">
        <thead>
          <tr>
            <th>Email</th>
            <th>Stores</th>
            <th>Solution</th>
            <th>Last Payout</th>
            <th>Next Payout</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @team_admins.each do |admin| %>
          <tr>
            <td><%= admin.email %></td>
            <td><%= admin.stores.size %></td>
            <td><% if admin.is_uniform? %><span class="badge badge-primary">Uniforms</span><% else %><span class="badge badge-secondary">Other</span><% end %></td>
            <td><%= formatMoney admin.get_last_month_funds_raised %></td>
            <td><%= formatMoney admin.get_this_month_funds_raised %></td>
            <td>
              <% if admin.is_uniform? %><button type="button" data-gen-team-store-link="<%= admin.id %>" class="btn btn-success mb-2">Create a store </button><% end %>
              <div class="btn-toolbar" role="toolbar" >
                <div class="btn-group" role="group" aria-label="First group">
                  <a href="<%= admin_team_admins_orders_path admin.id %>" type="button" class="btn btn-sm btn-info" data-toggle="tooltip" data-placement="top" title="Sales"> Sales </a>
                  <a href="<%= admin_team_admins_details_path admin.id %>" type="button" class="btn btn-sm btn-info" data-toggle="tooltip" data-placement="top" title="Details">Details </a>
                  <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-placement="top" title="Delete" data-target="#deleteAdmin<%= admin.id %>"> Delete </button>
                </div>
              </div>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
	</div>
</div>
<% @team_admins.each do |admin| %>
<div class="modal" id="deleteAdmin<%= admin.id %>" tabindex="-1" role="dialog" aria-labelledby="deleteAdminModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete <%= admin.email %> account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Deleting this account will delete all their stores along with their data. This action is not reversible.
        Are you sure you want to delete this account?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a href="<%= admin_team_admins_delete_path admin.id %>" class="btn btn-danger">Delete</a> 
      </div>
    </div>
  </div>
</div>
<% end %>