<header class="admin-header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="<%= admin_index_path %>">Manage</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="<%= admin_index_path %>">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= admin_orders_path %>">Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= admin_products_path %>">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= admin_custom_products_path %>">Custom Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= admin_categories_path %>">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= admin_attributes_path %>">Product Attributes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= admin_colors_path %>">Colors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= admin_stores_path %>">Stores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= admin_team_admins_path %>">Team Admins</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= admin_payouts_path %>">Payouts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= admin_logo_requests_path %>">Logo Requests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= admin_all_tags_path %>">All Filter Tags</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
